<h3 class="title is-3">Posts</h3>

<form action="/posts" method="post">
  <input type="text" name="content"/>
  <input type="submit" value="Submit"/>
</form>

<br>

@foreach (Post post in ViewBag.Posts)
{
<div class="box">
  <div>
  <b>
    <p>
      <img src="Images/slothavatar.png" class="this is you" alt="this is what you look like" style="width:40px;height:40px;" />

      <a href="/profile/@post.User.Id" class="black-link underline-on-hover">@post.User.Name
      </a>

  </b>
  <p>@post.Content</p>
<<<<<<< HEAD
  <p>@post.Likes</p>
=======
  <p>@post.Likes </p>
>>>>>>> de20485 (Button is done but buggy)
<form action="/posts/like" method="post">
  <input type="hidden" name="postId" value="@post.Id" />
  <input type="submit" name="like" value="Like" />
</form>
<<<<<<< HEAD
=======

>>>>>>> de20485 (Button is done but buggy)
  </div>
</div>
}
<br> 
<br>
<br>
